body{
    font-family: 'Jost', sans-serif;
}
.button_main{ 
    font-family: 'Jost', sans-serif;
    justify-content: center;
	display: block;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    margin: 0em;
    padding: 1px 6px;
    box-sizing: border-box;
    text-align: center;
    align-items: flex-start;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    appearance: auto;
    writing-mode: horizontal-tb !important;
}
.grid-container_main{
    display: grid;
    grid-template-rows: 1fr, 7fr;
    grid-template-areas: 
    'post-1'
    'post-2';
    height: 100%;
    width: 80%;
    margin: auto;
    overflow: auto;
    height: 700px;
    gap: 30px;
}
.post-1_main {
    grid-area: post-1;
    overflow: hidden;
}
.post-2_main{
    grid-area: post-2;
    padding: 30px;
    padding-top: 0;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
}
/*Основные кнопки*/
.button_area_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: center;
    align-items: center;
}
.button_main_main{
    width: 10em;
	height: 40px;
	color: #fff;
	background: #07689F;
	margin-top: 20px;
    padding: 6px;
    /*background-color: rgb(118,159,205); */
}
.button_main_main:hover{
    background-color: #0880C4;
}
/*Элемент каталога*/

.item_line_main {
    border: solid 1px gray;
    padding: 5px;
    list-style: none;
    border-radius: 5px;

    overflow: hidden;
    margin: 0 0 10px 0;

    background-color: rgb(247,251,252);
}
.item_name_main {
    color: steelblue;
}
 
.item_price_main {

    color: red;
}

.item_img_main {
    float: left;
    width: 80px;
    height: 100px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .item_img_main img{
        height: 100%;
        width: auto;
    }

.item_button_main{
    float: right;
}
.item_discription_main{
    margin: 10px 200px 10px 110px;
}
.item_add_to_cart_main{    
	height: 35px;	
	background: rgb(118,159,205);
}
.item_add_to_cart_main:hover{
    background-color: rgb(185,215,234);
}

.item_have_added_to_cart_main{   
	height: 35px;	
    background-color: rgb(214,230,242);
}
.item_have_added_to_cart_main:hover{
    background-color: rgb(185,215,234);
}



