body{
	padding: 0 0 10% 0;
	display: flex;

    flex-direction: column;

	justify-content: center;
    width: 80%;
    margin: auto;


	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #769FCD, #B9D7EA, #D6E6F2, #F7FBFC);
}
.ReturnToMain{
    align-self: flex-start;
    width: 15em;
    margin: 0 0 20% 0;
}
.main{

	width: 350px;
	height: 600px;
	overflow: hidden;
    background-color: #769FCD;
    
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #07689F;
	font-size: 1em;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;

	font-family: 'Jost', sans-serif;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    align-items: flex-start;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    appearance: auto;
    writing-mode: horizontal-tb !important;
}
.button:hover{
    background-color: #0880C4;
}
.login{
	height: 600px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-170px);
	transition: .8s ease-in-out;
}
.login label{
	color: #07689F;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-600px);
	overflow-y: scroll;
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}