body{
    font-family: 'Jost', sans-serif;
}
.button_cart{ 
    font-family: 'Jost', sans-serif;
    justify-content: center;
	display: block;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    margin: 0em;
    padding: 1px 6px;
    box-sizing: border-box;
    text-align: center;
    align-items: flex-start;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    appearance: auto;
    writing-mode: horizontal-tb !important;
}
.grid-container_cart{
    display: grid;
    grid-template-rows: 1fr, 7fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'post-1 post-1 post-1'
    'post-2 post-2 post-3';
    height: 100%;
    width: 80%;
    margin: auto;
    overflow: auto;
    height: 700px;
    gap: 30px;
}

.post-1_cart {
    grid-area: post-1;
    overflow: hidden;
}
.post-2_cart{
    grid-area: post-2;
    padding: 30px;
    padding-top: 0;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
}
.post-3_cart{
    grid-area: post-3;
    overflow: hidden;
}

/*Основные кнопки*/

.button_main_cart{
    width: 10em;
	height: 40px;
	color: #fff;
	background: #07689F;
	margin-top: 20px;
}
.button_main_cart:hover{
    background-color: #0880C4;
}
/*Элементы корзины*/

.item_line_cart {
    border: solid 1px gray;
    padding: 5px;
    list-style: none;
    border-radius: 5px;

    overflow: hidden;
    margin: 0 0 10px 0;

    background-color: rgb(247,251,252);
}
    .item_img_cart {
        float: left;
        width: 80px;
        height: 100px;
        margin: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .item_img img_cart{
            height: 100%;
            width: auto;
        }

    .item_number_cart{
        background-color: rgb(214,230,242);
        float: right;
        border-radius: 2px;
    }
        .count_of_product_cart{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'number count';
            justify-content: space-between;
            height: 40px;
            width: 110px;
            overflow: hidden;
        }
            .text_number_cart{
                justify-self: center;
                align-self: center;
                font-size: 14px;
                grid-area: number;
            }
            .text_count_cart{
                justify-self: flex-start;
                align-self: center;
                width: 50px;
                height: 20px;
                display: flex;
                font-size: 14px;
                grid-area: count;
            }
                .text_count_cart input{
                    vertical-align: middle;
                    width: 100%;
                }

    .item_discription_cart{
        margin: 10px 200px 10px 110px;
    }
        .item_name_cart {
            color: steelblue;
        }

        .item_price_cart {
            color: red;
        }

/*оформление заказа*/

.container_place_an_order_cart{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'place_an_order'
    'penal_of_procces_an_order';
    justify-content: stretch;
    height: 100%;
    gap: 10px;
}
.place_an_order_cart{
    grid-area: place_an_order;
    font-size: 18px;
    font-weight: bold;
}
.penal_of_procces_an_order_cart{
    grid-area: penal_of_procces_an_order;
    background-color: rgb(214,230,242);
    border-radius: 10px;
    padding: 5%;
    display: grid;
    grid-template-rows: 5% auto  10%;
    /*height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100px;
    gap: 10px;*/
}
.order_sum_cart{
    font-size: 16px;
}
.sum_cart{
    height: 30px;
    background-color:  rgb(247,251,252);
    border-radius: 2px;
    display: flex;
}
.price_cart{
    font-size: 14px;
    vertical-align: middle;
    margin: 5%;
    margin-top: auto;
    margin-bottom: auto;
}
.button_order_cart{
    background-color:rgb(118,159,205);
    font-size: 20px;
    align-self: stretch;
    color: #fff;
}
.button_order_cart:hover{
    background-color: rgb(185,215,234);
    color:#07689F ;
}